/* Reset css
*/
* {
    box-sizing: border-box;
}
div {
	display: block;
}
html {
    scroll-behavior: smooth;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.italic {
    font-style: italic !important;
}
.text-center {
    text-align: center;
}
hr {
    border: 0;
    border-top: 1px solid rgb(240, 233, 233);
    margin: 20px 0;
}
h2 {
    color: rgb(41, 133, 156);
    text-align: center;
    font-size: 2.7em;
}
h3 {
    font-size: 25px;
    color: rgb(102, 192, 192)
}
h5 {
    font-size: 20px;
    line-height: 0px;
}
.text-justify {
    text-align: justify !important;
}
